html, body, #root{
  width:100%;
  height: 100%;
  margin:0;
  background-color: #ececec;
}

@keyframes btn-anim {
  0% {border:2px solid blue;}
  50% {border:2px solid rgb(163, 192, 219);}
  100% {border:2px solid rgb(55, 241, 241);}
}