html, body, #root{
  width:100%;
  height: 100%;
  margin:0;
  background-color: #ececec;
}

@keyframes btn-anim {
  0% {border-top:2px solid rgb(128, 238, 248);}
  25% {border-right:2px solid  rgb(128, 238, 248);}
  75% {border-bottom:2px solid  rgb(128, 238, 248);}
  100% {border-left:2px solid rgb(128, 238, 248);}
}